<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="http://localhost:3000/code.js "></script>
  <script defer src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@600&family=Open+Sans&family=Roboto+Mono&display=swap"rel="stylesheet">

  <title>Music</title>
</head>
<body>

  {{#if user}}
  <div class="white"><h5> hello, {{user.login}}</h5></div>
  <div><a href="/user/logout">logout</a></div>
  <div><a href="/edit/style">new style</a></div>
  <div><a href="/edit/instrument">new instrument</a></div>
  <div><a href="/user/{{user._id}}">my settings</a></div>
  <div><a href="/">home</a></div>
  {{else}}
  <div><a href="/user/register">register</a></div>
  <div><a href="/user/login">login</a></div>
  <div><a href="/">home</a></div>
  {{/if}}
  {{{body}}}
</body>
</html>
