<h2 class="bigtext">Create instrument</h2>

<form class="form" action='/edit/instrument' method='post'>
<label>name</label><input type="text" name="name" required>
<div><label>about</label><textarea type="text" name="about"></textarea></div>
<input type="text" name="displayed" value="false" hidden></div>
<button class="button" type="submit">submit</button>
</form>
